.container{
    margin-bottom: 100px;
}
.container h1{
     color: red;
}
.slider{
    background-color: #fceae8;
    border-radius: 12px;
}
.align-items-center{
    padding: 20px 40px;
}
.button{
    background-image: linear-gradient(90deg, pink, red);
    padding: 4px 8px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
    margin-top: 15px;
}
.cat1{
  background-color: orange;
  padding: 10px 20px;
  border-radius: 10px;

}
.cat2{
 background-color: pink;
 padding: 10px 20px;
 border-radius: 10px;
}
.cat3{
 background-color: blue;
 padding: 10px 20px;
 border-radius: 10px;
}
.categories h3{
   color: white;
   font-weight: bold;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    border: none;
    background-color: white;
}
.suscribe{
    background-color: plum;
    height: 300px;
    border-radius: 10px;
}
footer{
    text-align: center;
}